
/*Diseño del cuerpo de la página*/
body {
    background-image: url("../imagenes/fondologin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/*Parte del formulario*/

/*Diseño del contenedor del formulario login*/
.contenedorlogin {
    background: rgba(245, 252, 229, 0.195);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 1px 1px 1px rgba(193, 240, 190, 0.7);
    border: 1px solid rgba(193, 240, 190, 0.7);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    color: #fff;
    text-align: center;
}

/*Diseño del texto del formulario*/
.contenedorlogin .form-label {
    color: #000000;
    font-family: 'excalibur', cursive;
    font-size: 18px;
}

.contenedorlogin .form-control {
    background-color: rgba(178, 212, 212, 0.651);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #201c1c;
}

.contenedorlogin .form-control:focus {
    background-color: rgba(255, 255, 255, 0.651);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #201c1c;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.contenedorlogin .textinf {
    color: #000000;
    font-family: 'excalibur', cursive;
    font-size: 14px;
    margin-top: 20px;
}


/*Parte de los botones*/


/*Diseño del boton por defecto*/
.btn-login {
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'excalibur', cursive;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(3, 247, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

/*Diseño del boton cuando se para el mouse por encima*/
.btn-login:hover {
    background-color: rgba(3, 247, 255, 0.5);
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-shadow: 0 0 20px rgb(3, 247, 255);
    padding: 10px 20px;
}

/*Diseño del boton cuando se hace clic */
.btn-login:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.9) !important; 
    color: rgb(3, 247, 255) !important;
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
}
