
/*Diseño del cuerpo de la página*/
body {
  margin: 0;
  min-height: 100vh;
  
  /* Color base por si falla el degradado */
  background-color: #000000;
  
  /* El degradado radial */
  background-image: radial-gradient(circle, #008000 0%, #000000 100%);
  
  
  /* Fija el fondo al viewport (la pantalla), evitando que se mueva al hacer scroll */
  background-attachment: fixed;
  
  /* Asegura que el fondo no se repita en mosaico */
  background-repeat: no-repeat;
  
  /* Mantiene el degradado perfectamente centrado en la pantalla */
  background-position: center;
  
  /* Color de texto legible */
  color: white !important; 
}
/*Parte del formulario*/

/*Diseño del contenedor del formulario login*/
.contenedorlogin {
    background: rgba(245, 252, 229, 0.195);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 1px 1px 1px rgba(193, 240, 190, 0.7);
    border: 1px solid rgba(193, 240, 190, 0.7);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    color: #fff;
    text-align: center;
}

.contenedorlogin h1, .contenedorlogin label {
    color:#fff !important;
}

/* Agrupe varios elementos para darles el mismo estilo a la vez*/
.contenedorlogin input, .contenedorlogin select, .modal-vidrio{
    background-color: rgba(178, 212, 212, 0.651);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #201c1c;
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

/*Cambiar el estilo de los inputs (donde escribes la informacion) y los selects (donde eliges la informacion en forma de lista)*/
.contenedorlogin input:hover, .contenedorlogin select:hover {
    background-color: rgba(181, 252, 174, 0.651);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #201c1c;
    box-shadow: 0 0 5px rgba(181, 252, 174, 0.651);
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

/*Cambiar el estilo de los inputs (donde escribes la informacion) y los selects (donde eliges la informacion en forma de lista)*/
.contenedorlogin input:focus, .contenedorlogin select:focus {
    background-color: rgba(255, 255, 255, 0.651);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #201c1c;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

/* Cambia el estilo de las opciones en forma de lista*/
.contenedorlogin select.form-select option {
    background-color: #2b362c; 
    color: #ffffff;
    padding: 10px;
}


/*Parte de los botones*/


/*Diseño del boton por defecto*/
.btn-login {
    border: none;
    color: rgb(255, 255, 255);
    font-family: 'excalibur', cursive;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(3, 247, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    backdrop-filter: blur(5px);
}

/*Diseño del boton cuando se para el mouse por encima*/
.btn-login:hover {
    background-color: rgba(3, 247, 255, 0.5);
    color: rgb(255, 255, 255);
    font-size: 16px;
    box-shadow: 0 0 20px rgb(3, 247, 255);
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

/*Diseño del boton cuando se hace clic */
.btn-login:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.9) !important; 
    color: rgb(3, 247, 255) !important;
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
